<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1>todos</h1>
    <div class="container">
        <input class="check"
               type="checkbox"
               (click)='checkedAll($event.target.checked)'>
        <input placeholder="What needs to be done?"
               (keyup.enter)="addNote($event.target.value)">
    </div>
    <app-card *ngFor="
               let
               note
               of
               notes
               "
              [note]="note
               "
              (deleteNote)="onDeleteNote($event)
               "></app-card>

    <footer class="container
               ">
        <span>{{itemsLeft}} item left</span>
        <button class="filter-button
               "
                (click)='showAll()'>All</button>
        <button class="filter-button
               "
                (click)='showActive()'>Active</button>
        <button class="filter-button
               "
                (click)='showComplete()'>Complete</button>
        <button class="clear-button
               "
                (click)='clearComplete()'> Clear completed</button>
    </footer>

</div>